server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: wahapedia-api
    journal:
      labels:
        job: wahapedia-api
      path: /var/log/journal
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        regex: 'wp40k.service'
        action: keep
    pipeline_stages:
      - json:
          expressions:
            level: level
            message: message
            request_id: request_id
            method: method
            path: path
            status: status
            duration_ms: duration_ms
            error: error
      - labels:
          level:
          method:
          status:
      - output:
          source: message
